<section id="anmeldung" class="section bg-light-offset">
    <div class="container">
        <h2 class="section-title">ANMELDUNG</h2>
        <div>
            <p>
                Möchten Sie, dass Ihr Kind ein "Perlacher Strolch" wird? Senden Sie dann Ihre Anfrage per E-Mail an
                <a href="mailto:kontak@perlacher-strolche.de">kontakt@perlacher-strolche.de</a>. Ihre E-Mail sollte alle
                relevanten Informationen über Sie und Ihr Kind enthalten, insbesondere Ihre Kontaktdaten und das
                Geburtsdatum Ihres Kindes. Bitte beachten Sie, dass wir Kinder erst ab einem Alter von 18 Monaten
                aufnehmen.
            </p>
            <p>
                Nach einer ersten Kontaktaufnahme kann Ihr Kind auf unsere Warteliste gesetzt werden. Wir bitten um
                Verständnis, dass wir nicht sofort auf jede E-Mail antworten können, aber Ihre Anfrage wird nicht
                verloren gehen. Die meisten Plätze werden ab Februar jedes Jahres für das folgende Betreuungsjahr
                vergeben, das im September beginnt. Daher sollte Ihre Anfrage spätestens am 15. Januar bei uns eingehen.
                Wir treffen eine Vorauswahl anhand einer Liste von Kriterien, um zu entscheiden, welche Kinder und
                Eltern gut zu den Strolchen passen könnten. Diese Kriterien sind vielfältig und beinhalten auch soziale
                Aspekte.
            </p>
            <p>
                Die Infrage kommenden Familien werden dann von uns per E-Mail oder Telefon kontaktiert und zu einem
                Kennenlerngespräch, entweder persönlich oder digital, eingeladen. Danach findet ein Schnuppertag statt.
                Im Anschluss entscheidet der Vorstand in Absprache mit der leitenden Erzieherin über die Aufnahme in die
                jeweilige Gruppe.
            </p>
            <p>
                Wichtig ist uns: Wir sind eine Elterninitiative. Ehrenamtliche Mitarbeit sowie die selbstverantwortliche
                Übernahme von Aufgabenbereichen, ggf. auch Vorstandstätigkeiten sind für die Aufnahme unerlässlich.
                Bitte informieren Sie sich vorab über unsere Einrichtung und lesen Sie sich unser Konzept durch. Zudem
                veranstalten wir jedes Jahr im Januar oder Februar einen Tag der offenen Tür. Weitere Informationen
                finden Sie beizeiten <a href="#home">hier</a>.
            </p>
            <p>
                Das Einzugsgebiet der Einrichtung beschränkt sich aus förderrechtlichen Gründen auf die Stadt München.
                Anfragen von Familien außerhalb Münchens können nicht berücksichtigt werden.
            </p>
        </div>
    </div>
</section>
