<section id="blog" class="section bg-light-offset dark:bg-d-light-offset">
    <div class="container">
        <h2 class="section-title">BLOG</h2>

        {{#each blogs}}
        <div class="blog-box">
            <h4>{{category}}</h4>
            <span class="blog-date">{{date}}</span>
            <h3>{{title}}</h3>
            <p>{{#newlineToBr content}}{{/newlineToBr}}</p>
            <div class="blog-image">
                <img src="{{imageUrl}}" alt="blog image" />
            </div>
        </div>
        {{/each}}
    </div>
</section>
