<div id="datenschutz-modal" class="modal">
    <div class="modal-content">
        <span class="close-modal">&times;</span>
        <div class="modal-body">
            <h2>Datenschutzerklärung</h2>

            <p>
                Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:<br/><br/>
                PERLACHER STROLCHE E.V.<br/>
                PFANZELTPLATZ 18<br/>
                81737 MÜNCHEN ALTPERLACH
            </p>
            <h3>§ 1</h3>
            <p>
                Information über die Erhebung personenbezogener Daten<br/>
                <b>(1)</b> Im Folgenden informieren wir über die Erhebung personenbezogener Daten bei Nutzung unserer
                Website. Personenbezogene Daten sind alle Daten, die auf Sie persönlich beziehbar sind, z. B. Name,
                Adresse, E-Mail-Adressen, Nutzerverhalten.<br/>
                <b>(2)</b>
                Verantwortlicher gem. Art. 4 Abs. 7 EU-Datenschutz-Grundverordnung (DS-GVO) ist PERLACHER STROLCHE E.V.
                – PFANZELTPLATZ 18 – 81737 MÜNCHEN ALTPERLACH. Unseren Datenschutzbeauftragten erreichen Sie unter
                datenschutz@perlacher-strolche.de.<br/>
                <b>(3)</b> Bei Ihrer Kontaktaufnahme mit uns per E-Mail oder über ein Kontaktformular werden die von
                Ihnen mitgeteilten Daten (etwa Ihre E-Mail-Adresse, ggf. weitere Angaben wie bspw. Ihr Name und Ihre
                Telefonnummer) von uns gespeichert, um Ihre Anliegen zu beantworten. Die in diesem Zusammenhang
                anfallenden Daten löschen wir, nachdem die Speicherung nicht mehr erforderlich ist, oder schränken die
                Verarbeitung ein, falls gesetzliche Aufbewahrungspflichten bestehen.<br/>
                <b>(4)</b>
                Falls wir für einzelne Funktionen unseres Angebots auf beauftragte Dienstleister zurückgreifen oder Ihre
                Daten für werbliche Zwecke nutzen möchten, werden wir Sie untenstehend im Detail über die jeweiligen
                Vorgänge informieren. Dabei nennen wir auch die festgelegten Kriterien der Speicherdauer.
            </p>
            <h3>§ 2</h3>
            <p>
                Diese Informationen hat der KKT e.V. München für seine Mitglieder erstellt. Sie unterliegen dem
                Urheberrecht. Ihre Rechte<br/>
                <b>(1)</b> Sie haben gegenüber uns folgende Rechte hinsichtlich der Sie betreffenden personenbezogenen
                Daten:<br/>
                Recht auf Auskunft,<br/>
                Recht auf Berichtigung oder Löschung,<br/>
                Recht auf Einschränkung der Verarbeitung,<br/>
                Recht auf Widerspruch gegen die Verarbeitung,<br/>
                Recht auf Datenübertragbarkeit.<br/>
                <b>(2)</b> Sie haben zudem das Recht, sich bei einer Datenschutz-Aufsichtsbehörde über die Verarbeitung
                Ihrer personenbezogenen Daten durch uns zu beschweren.
            </p>
            <h3>§ 3</h3>
            <p>
                Erhebung personenbezogener Daten bei Besuch unserer Website<br/>
                <b>(1)</b> Bei der bloß informatorischen Nutzung der Website, also wenn Sie uns nicht anderweitig
                Informationen übermitteln, erheben wir nur die personenbezogenen Daten, die Ihr Browser an unseren
                Server übermittelt. Wenn Sie unsere Website betrachten möchten, erheben wir die folgenden Daten, die für
                uns technisch erforderlich sind, um Ihnen unsere Website anzuzeigen und die Stabilität und Sicherheit zu
                gewährleisten (Rechtsgrundlage ist Art. 6 Abs. 1 S. 1 lit. f DS-GVO). Diese Informationen werden
                temporär in einem sog. Logfile bis zur automatisierten Löschung gespeichert:<br/>
                IP-Adresse,<br/>
                Datum und Uhrzeit der Anfrage,<br/>
                Zeitzonendifferenz zur Greenwich Mean Time (GMT),<br/>
                Inhalt der Anforderung (konkrete Seite),<br/>
                Zugriffsstatus/HTTP-Statuscode,<br/>
                jeweils übertragene Datenmenge,<br/>
                Website, von der die Anforderung kommt,<br/>
                Browser,<br/>
                Betriebssystem und dessen Oberfläche,<br/>
                Sprache und Version der Browsersoftware<br/>
                <b>(2)</b> Zusätzlich zu den zuvor genannten Daten werden bei Ihrer Nutzung unserer Website Cookies auf
                Ihrem Rechner gespeichert. Bei Cookies handelt es sich um kleine Textdateien, die auf Ihrer Festplatte
                dem von Ihnen verwendeten Browser zugeordnet gespeichert werden und durch welche der Stelle, die den
                Cookie setzt, bestimmte Informationen zufließen. Cookies können keine Programme ausführen oder Viren auf
                Ihren Computer übertragen. Sie dienen dazu, das Internetangebot insgesamt nutzerfreundlicher und
                effektiver zu machen. Rechtsgrundlage ist Art. 6 Abs. 1 S. 1 lit. f DS-GVO.<br/>
                <b>(3)</b> Einsatz von Cookies:<br/>
                a) Diese Website nutzt folgende Arten von Cookies, deren Umfang und
                Funktionsweise im Folgenden erläutert werden:<br/>
                Diese Informationen hat der KKT e.V. München für seine Mitglieder erstellt. Sie unterliegen dem Urheberrecht.
            </p>
            <ul>
                <li>Transiente Cookies (dazu b)</li>
                <li>Persistente Cookies (dazu c).</li>
            </ul>
            <p>
                b) Transiente Cookies werden automatisiert gelöscht, wenn Sie den Browser schließen. Dazu zählen
                insbesondere die Session-Cookies. Diese speichern eine sogenannte Session-ID, mit welcher sich
                verschiedene Anfragen Ihres Browsers der gemeinsamen Sitzung zuordnen lassen. Dadurch kann Ihr Rechner
                wiedererkannt werden, wenn Sie auf unsere Website zurückkehren. Die Session-Cookies werden gelöscht,
                wenn Sie sich ausloggen oder den Browser schließen. <br/>
                c) Persistente Cookies werden automatisiert nach einer vorgegebenen Dauer gelöscht, die sich je nach Cookie unterscheiden kann. Sie
                können die Cookies in den Sicherheitseinstellungen Ihres Browsers jederzeit löschen. <br/>
                d) Sie können Ihre Browser-Einstellung entsprechend Ihren Wünschen konfigurieren und z.B. die Annahme von
                Third-Party-Cookies oder allen Cookies ablehnen. Wir weisen Sie darauf hin, dass Sie eventuell nicht
                alle Funktionen dieser Website nutzen können.
            </p>
            <h3>§ 4</h3>
            <p>
                Widerspruch oder Widerruf gegen die Verarbeitung Ihrer Daten<br/>
                <b>(1)</b> Falls Sie eine Einwilligung zur Verarbeitung Ihrer Daten erteilt haben, können Sie diese
                jederzeit widerrufen. Ein solcher Widerruf beeinflusst die Zulässigkeit der Verarbeitung Ihrer
                personenbezogenen Daten, nachdem Sie ihn gegenüber uns ausgesprochen haben. Diese Informationen hat der
                KKT e.V. München für seine Mitglieder erstellt. Sie unterliegen dem Urheberrecht.<br/>
                <b>(2)</b>
                Soweit wir die Verarbeitung Ihrer personenbezogenen Daten auf die Interessenabwägung stützen, können Sie
                Widerspruch gegen die Verarbeitung einlegen. Dies ist der Fall, wenn die Verarbeitung insbesondere nicht
                zur Erfüllung eines Vertrags mit Ihnen erforderlich ist, was von uns jeweils bei der nachfolgenden
                Beschreibung der Funktionen dargestellt wird. Bei Ausübung eines solchen Widerspruchs bitten wir um
                Darlegung der Gründe, weshalb wir Ihre personenbezogenen Daten nicht wie von uns durchgeführt
                verarbeiten sollten. Im Falle Ihres begründeten Widerspruchs prüfen wir die Sachlage und werden entweder
                die Datenverarbeitung einstellen bzw. anpassen oder Ihnen unsere zwingenden schutzwürdigen Gründe
                aufzeigen, aufgrund derer wir die Verarbeitung fortführen.
            </p>
            <h3>§ 5</h3>
            <p>
                Kontaktaufnahme über unsere Website<br/>
                <b>(1)</b> Sollten Sie über unsere Website Kontakt zu uns aufnehmen (z.B. bei Anfragen oder
                Terminvereinbarungswünschen), ist derzeit die Angabe der E-Mail-Adresse als Pflichtangabe erforderlich;
                alle weiteren Angaben sind freiwillig, können aber die Kontaktaufnahme mit Ihnen erleichtern (z.B.
                Telefonnummer). Wir verwenden die von Ihnen mitgeteilten Daten ausschließlich zur Bearbeitung Ihrer
                Anfragen. Rechtsgrundlage hierfür ist Art. 6 Abs. 1 S. 1 lit. b DS-GVO.<br/>
                <b>(2)</b>
                Nach vollständiger Beantwortung der Anfrage werden Ihre Daten gelöscht, falls keine gesetzlichen
                Aufbewahrungspflichten bestehen.
            </p>
            <h3>§ 6</h3>
            <p>
                Diese Informationen hat der KKT e.V. München für seine Mitglieder erstellt. Sie unterliegen dem
                Urheberrecht. Nutzung unseres Bewerbungsformulars für freie Einrichtungsplätze<br/>
                <b>(1)</b> Soweit Sie unser Online-Kontaktformular zur unverbindlichen Bewerbung für freie
                Einrichtungsplätze nutzen möchten, müssen Sie folgende Daten angeben: Vorname, Nachname und
                E-Mail-Adresse der Kontaktperson; Vorname, Nachname, Geschlecht und Geburtsdatum des zu betreuenden
                Kindes, das gewünschte Eintrittsdatum. Die Angabe der zuvor genannten Daten ist verpflichtend und
                erforderlich, um Ihre Bewerbung ordnungsgemäß bearbeiten zu können. Alle weiteren Informationen können
                Sie freiwillig angeben.<br/>
                <b>(2)</b>
                Wenn Sie unser Online-Kontaktformular nutzen, speichern wir Ihre zur Bewerbung erforderlichen Daten, bis
                das Bewerbungsverfahren abgeschlossen ist. Rechtsgrundlage ist Art. 6 Abs. 1 S. 1 lit. b und f
                DS-GVO.<br/>
                <b>(3)</b> Um unberechtigte Zugriffe Dritter auf Ihre persönlichen Daten zu verhindern, wird die
                Verbindung per TLS-Technik verschlüsselt.
            </p>
            <h3>§ 7</h3>
            <p>
                Verwendung von Google Fonts<br/>
                <b>(1)</b> Diese Website nutzt zur einheitlichen Darstellung von Schriftarten sogenannte Web Fonts, die
                von Google bereitgestellt werden. Dies erfolgt im Interesse einer ansprechenden Darstellung unserer
                Website.<br/>
                <b>(2)</b> Beim Aufruf einer Seite auf unserer Website lädt Ihr Browser die benötigten Web Fonts in
                Ihren Browsercache, um Texte und Schriftarten korrekt anzuzeigen. Zu diesem Zweck muss der von Ihnen
                verwendete Browser Verbindung zu den Servern von Google aufnehmen, sofern sich die jeweilige Schriftart
                nicht bereits in Ihrem Browsercache befindet. Hierdurch erlangt Google Kenntnis darüber, dass Sie unsere
                Website aufgerufen haben. Zudem werden gegebenenfalls die unter § 3 dieser Erklärung genannten Daten
                übermittelt. Rechtsgrundlage für die Nutzung von Google Fonts ist Art. 6 Abs. 1 S.1 lit. f DS-GVO.<br/>
                <b>(3)</b> Weitere Informationen zu Google Fonts finden Sie unter: https://fonts.google.com/about# sowie
                https://developers.google.com/fonts/faq. Weitere Informationen zu Zweck und Umfang der Datenerhebung und
                ihrer Verarbeitung durch Google erhalten Sie in den Datenschutzerklärungen von Google. Dort erhalten Sie
                auch weitere Informationen zu Ihren diesbezüglichen Rechten und Einstellungsmöglichkeiten zum Schutze
                Ihrer Privatsphäre: https://www.google.de/intl/de/policies/privacy.<br/>
                Google verarbeitet Ihre personenbezogenen Daten auch in den USA und hat sich dem EU-US Privacy Shield unterworfen,
                https://www.privacyshield.gov/EU-US-Framework.
            </p>
            <h3>§ 8</h3>
            <p>
                Einbindung von Google Maps<br/>
                <b>(1)</b> Auf dieser Website nutzen wir das Angebot von Google Maps. Dadurch können wir Ihnen
                interaktive Karten direkt in der Website anzeigen und ermöglichen Ihnen die komfortable Nutzung der
                Karten-Funktion. Rechtsgrundlage ist Art. 6 Abs. 1 S. 1 lit. f DS-GVO.<br/>
                <b>(2)</b>
                Durch den Besuch auf der Website erhält Google die Information, dass Sie die entsprechende Unterseite
                unserer Website aufgerufen haben. Zudem werden die unter § 3 dieser Erklärung genannten Daten
                übermittelt. Dies erfolgt unabhängig davon, ob Google ein Nutzerkonto bereitstellt, über das Sie
                eingeloggt sind, oder ob kein Nutzerkonto besteht. Wenn Sie bei Google eingeloggt sind, werden Ihre
                Daten direkt Ihrem Konto zugeordnet. Wenn Sie die Zuordnung mit Ihrem Profil bei Google nicht wünschen,
                müssen Sie sich vor Aktivierung des Buttons ausloggen. Google speichert Ihre Daten als Nutzungsprofile
                und nutzt sie für Zwecke der Werbung, Marktforschung und/oder bedarfsgerechten Gestaltung seiner
                Website. Eine solche Auswertung erfolgt insbesondere (selbst für nicht eingeloggte Nutzer) zur
                Erbringung von bedarfsgerechter Werbung und um andere Nutzer des sozialen Netzwerks über Ihre
                Aktivitäten auf unserer Website zu informieren. Ihnen steht ein Widerspruchsrecht zu gegen die Bildung
                dieser Nutzerprofile, wobei Sie sich zur Ausübung dessen an Google richten müssen.<br/>
                <b>(3)</b>
                Weitere Informationen zu Zweck und Umfang der Datenerhebung und ihrer Verarbeitung durch den
                Plug-in-Anbieter erhalten Sie in den Datenschutzerklärungen des Anbieters. Dort erhalten Sie auch
                weitere Informationen zu Ihren diesbezüglichen Rechten und Einstellungsmöglichkeiten zum Schutze Ihrer
                Privatsphäre: https://www.google.de/intl/de/policies/privacy. Google verarbeitet Ihre personenbezogenen
                Daten auch in den USA und hat sich dem EU-US Privacy Shield unterworfen,
                https://www.privacyshield.gov/EU-US-Framework.
            </p>
            <h3>§ 9</h3>
            <p>
                Änderung dieser Datenschutzerklärung<br/>
                Durch die Weiterentwicklung unserer Website und Angebote
                darüber oder aufgrund geänderter gesetzlicher beziehungsweise behördlicher Vorgaben kann es notwendig
                werden, diese Datenschutzerklärung zu ändern. Die jeweils aktuelle Datenschutzerklärung kann jederzeit
                auf der Website unter https://perlacher-strolche.de/ von Ihnen abgerufen und ausgedruckt
                werden.
            </p>
        </div>
    </div>
</div>
