<footer class="site-footer">
    <div class="footer-container">
        <div class="p-1 flex items-center">
            <a href="#home">
                <img
                    class="logo"
                    width="112"
                    height="112"
                    src="/images/strolche-logo2.jpg"
                    alt="Perlacher Strolche Logo"
                />
            </a>
        </div>
        <div class="p-4">
            <p>
                PERLACHER STROLCHE E.V.
                <br />PFANZELTPLATZ 18 <br />81737 MÜNCHEN ALTPERLACH <br />TELEFON 0157-85127519
            </p>
            <div class="mt-4">
                <a href="#impressum">Impressum</a> -
                <a href="#datenschutz">Datenschutz</a>
            </div>
        </div>
        <div class="footer-images">
            <img src="/images/LHM_RBS_Gefoerdert.png" alt="Förderung Perlacher Strolche" />
            <img src="/images/Schild_Förderhinweis_2025.png" alt="Förderhinweis" />
            <img src="/images/MItglied_im_KKT_Logo_2021_farbig_RGB-scaled1.png" alt="KKT Logo" />
        </div>
    </div>
</footer>
