<section id="home" class="section bg-light dark:bg-d-light">
    <div class="container">
        <div class="welcome-text">
            <h2>
                <em>
                    Unsere Einrichtung ist ein zweites Zuhause für unsere Kinder. Es ist „ihr“ Haus, in dem sie sich in
                    liebevoller, persönlicher und zukunftsorientierter Umgebung entfalten können.
                </em>
            </h2>

            <h1>Willkommen bei den Perlacher Strolchen</h1>

            <div class="content-text">
                <p>
                    Als Eltern-Kind-Initiative bieten wir seit über 20 Jahren eine familiäre Betreuung direkt am
                    Pfanzeltplatz in Alt-Perlach. 26 Kinder von 1,5 bis 6 Jahren finden in zwei Gruppen eine liebevolle
                    und individuelle Betreuung. Neben den gemütlichen, kinderfreundlich gestalteten Innenräumen gibt es
                    einen Innenhof mit Sandkasten, Klettergerüst und Platz zum Toben. Die Umgebung bietet diverse
                    Spielplätze, einen Sportpark mit Grünflächen und den Hachinger Bach zum Entdecken und Spielen.
                </p>

                <p>
                    Bei den Perlacher Strolchen kommen Matschhosen und Sonnencreme sehr oft zum Einsatz. Denn unserem
                    pädagogischen Personal ist es ein besonderes Anliegen, dass die Kinder das Außengelände täglich und
                    unabhängig vom Wetter nutzen.
                </p>

                <p>
                    Wir nehmen an dem sogenannten EKI-Plus-Fördermodell teil, wodurch die Kosten für einen
                    Betreuungsplatz von der Stadt München und dem Freistaat Bayern (BayKiBiG) gefördert werden.
                </p>
            </div>

            <div class="news-box bg-light-offset dark:bg-d-light-offset">
                <h4>Aktuelles</h4>
                <div>
                    <ul>
                        <li>
                            Wir suchen eine pädagogische Fach- oder Ergänzungskraft (m/w/d) in Teilzeit (ab 25h) oder Vollzeit ab dem 01.09.2025.
                            Weitere Infos <a href="#jobs">hier</a>. Wir freuen uns auf deine unkomplizierte Bewerbung an:
                            <a href="mailto:personal.vorstand@perlacher-strolche.de">personal.vorstand@perlacher-strolche.de</a>
                        </li>
                        <li>
                            Du hast Interesse an einem Praktikum oder einem FSJ bei den Perlacher Strolchen? Dann freuen
                            wir uns über deine Initiativbewerbung.
                        </li>
                    </ul>
                </div>
                <div class="news-image">
                    <img src="/images/tagderoffenentuer.jpg" alt="Tag der offenen Tür"/>
                </div>
            </div>
        </div>
    </div>
</section>
