<div id="impressum-modal" class="modal">
    <div class="modal-content">
        <span class="close-modal">&times;</span>
        <div class="modal-body">
            <h2>Impressum</h2>
            <p>Hinweise zur Verwendung und Veröffentlichung der hier angebotenen Informationen:</p>
            <h3>Inhalt des Onlineangebotes</h3>
            <p>
                perlacher-strolche.de übernimmt keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder
                Qualität der bereitgestellten Informationen. Haftungsansprüche gegen perlacher-strolche.de, welche sich
                auf Schäden materieller oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der
                dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und unvollständiger Informationen
                verursacht wurden sind grundsätzlich ausgeschlossen, sofern seitens des Autors kein nachweislich
                vorsätzliches oder grob fahrlässiges Verschulden vorliegt. Alle Angebote sind freibleibend und
                unverbindlich. Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne
                gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder
                endgültig einzustellen.
            </p>
            <h3>Urheber- und Kennzeichenrecht</h3>
            <p>
                Der Autor ist bestrebt, in allen Publikationen die Urheberrechte der verwendeten Grafiken, Tondokumente,
                Videosequenzen und Texte zu beachten, von ihm selbst erstellte Grafiken, Tondokumente, Videosequenzen
                und Texte zu nutzen oder auf lizenzfreie Grafiken, Tondokumente, Videosequenzen und Texte
                zurückzugreifen. Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte geschützten
                Marken- und Warenzeichen unterliegen uneingeschränkt den Bestimmungen des jeweils gültigen
                Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigentümer. Allein aufgrund der
                bloßen Nennung ist nicht der Schluss zu ziehen, dass Markenzeichen nicht durch Rechte Dritter geschützt
                sind! Das Copyright für alle veröffentlichten Objekte bleibt allein bei perlacher-strolche.de. Eine
                Vervielfältigung oder Verwendung solcher Grafiken, Tondokumente, Videosequenzen und Texte in anderen
                elektronischen oder gedruckten Publikationen ist ohne ausdrückliche Zustimmung von perlacher-strolche.de
                nicht gestattet. Ein Autor von Beiträgen gestattet perlacher-strolche.de die uneingeschränkte
                Veröffentlichung des Beitrages. Die Veröffentlichung gilt für alle Medien. Ein Entgeld oder Tantieme
                steht dem Autor für den Beitrag nicht zu. Zahlungsforderungen gegen perlacher-strolche.de können hieraus
                nicht entstehen.
            </p>
            <h3>Copyright und weitere Rechte</h3>
            <p>
                Das Copyright und alle weiteren Rechte für o.a. Werke liegen bei perlacher-strolche.de. Alle hier nicht
                ausdrücklich eingeräumten Rechte bleiben vorbehalten. Ausgenommen sind nur jene Teile, bei denen
                ausdrücklich ein anderer Autor oder eine andere Quelle angeführt ist. Deren Rechte liegen bei den
                jeweiligen Autoren bzw. Quellen.<br />Die Zitierung und Verwendung im Ausmaß eines einzelnen Artikels,
                eines einzelnen Tipps oder einzelnen Programmierbeispieles ist erlaubt.<br />Ebenso ausdrücklich erlaubt
                sind nicht permanente Links auf diese Webseiten. Wenn Sie hingegen auf Ihrer Homepage oder in anderen
                Medien einen permanenten Link auf meine Webseiten setzen möchten, dann ersuche ich Sie, wie im Internet
                üblich, mich um Einwilligung zu fragen.<br />Nicht erlaubt ist eine darüber hinausgehende und von
                perlacher-strolche.de nicht ausdrücklich autorisierte Weiterveröffentlichung der o.a. Werke im Internet
                oder in anderen Medien, sei sie kommerziell oder nicht. Das gilt für die Werke in ihrer Gesamtheit
                ebenso wie für Auszüge daraus.
            </p>
            <h3>Haftungsausschluss</h3>
            <p>
                Die o.a. Werke sind mit größtmöglicher Sorgfalt erstellt, dennoch können sie Fehler enthalten. Die
                Verwendung geschieht auf eigene Gefahr. perlacher-strolche.de übernimmt keinerlei Haftung für
                Fehlfunktionen oder dadurch verursachte Folgeschäden im Zusammenhang mit der Nutzung der o.a. Werke. Der
                Verfasser übernimmt KEINE Haftung für die Beschädigung Ihres PCs durch die hier verlinkten Seiten und
                Programme!<br />Ebenso übernimmt perlacher-strolche.de keinerlei Haftung oder Verantwortung für Funktion
                oder Inhalt der Internetseiten, auf die perlacher-strolche.de in den o.a. Werken hinweist oder Bezug
                nimmt.
            </p>
            <h3>Rechtswirksamkeit dieses Haftungsausschlusses</h3>
            <p>
                Dieser Haftungsausschluss ist als Teil des Internetangebotes zu betrachten, von dem aus auf diese Seite
                verwiesen wurde. Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden Rechtslage nicht,
                nicht mehr oder nicht vollständig entsprechen sollten, bleiben die übrigen Teile des Dokumentes in ihrem
                Inhalt und ihrer Gültigkeit davon unberührt.
            </p>
            <h3>Gültigkeit des Disclaimers</h3>
            <p>Der Disclaimer mit oben genannten Punkten gilt für alle Webseiten von perlacher-strolche.de.</p>

            <h3>Website Konzept, Design und Realisation</h3>
            <p>
                Thomas Linke<br />
                <a href="mailto:internet@perlacher-strolche.de">internet@perlacher-strolche.de</a>
            </p>
            <p>
                Informations- / Aufnahmeanfragen bitte an
                <a href="mailto:kontakt@perlacher-strolche.de">kontakt@perlacher-strolche.de</a> richten.
            </p>
        </div>
        <div class="copyright">@Copyright 2025 perlacher-strolche.de - Alle Rechte vorbehalten.</div>
    </div>
</div>
