<section id="jobs" class="section bg-light dark:bg-d-light">
    <div class="container">
        <h2 class="section-title">Jobs</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="job-box bg-light-offset dark:bg-d-light-offset ">
                <h2>Gesuchte Position</h2>
                <ul>
                    <li>Kinderpfleger*in / Erzieher*in (m, w, d)</li>
                    <li>Unbefristet</li>
                    <li>Voll- oder Teilzeit (mind. 25 Stunden)</li>
                    <li>Einsatz in Krippen- oder Kindergartengruppe</li>
                    <li>Start ab September 2025</li>
                </ul>
            </div>
            <div class="job-box bg-light-offset dark:bg-d-light-offset ">
                <h2>Wir wünschen uns</h2>
                <ul>
                    <li>Gern auch Berufsanfänger*in</li>
                    <li>Partnerschaftliche Zusammenarbeit mit Kolleg*innen und Eltern</li>
                    <li>Herzlichkeit, Engagement und Flexibilität</li>
                    <li>Einfühlsamer und respektvoller Umgang mit Kindern</li>
                    <li>Freude an Aktivitäten im Freien – Wind und Wetter machen Dir nichts aus</li>
                </ul>
            </div>

            <div class="job-box bg-light-offset dark:bg-d-light-offset ">
                <h2>Wir bieten</h2>
                <ul>
                    <li>Offenes, bunt gemischtes Team mit flachen Hierarchien</li>
                    <li>Interessantes Aufgabengebiet in familiärer Atmosphäre</li>
                    <li>Viel Gestaltungsfreiraum</li>
                    <li>Regelmäßige Fort- und Supervisionsangebote</li>
                </ul>
            </div>
            <div class="job-box bg-light-offset dark:bg-d-light-offset ">
                <h2>Vergütung &amp; Urlaub</h2>
                <ul>
                    <li>Nach TVöD</li>
                    <li>Einschließlich gängiger Zulagen</li>
                    <li>Fahrtkostenzuschuss</li>
                </ul>
            </div>

            <div class="job-box bg-light-offset dark:bg-d-light-offset ">
                <h2>Kontakt &amp; Bewerbung</h2>
                <address>
                    Perlacher Strolche e.V., z. Hd. Nadine Schneider<br/>
                    Pfanzeltplatz 18<br/>
                    81737 München<br/>
                    E‑Mail: <a href="mailto:personal.vorstand@perlacher-strolche.de">personal.vorstand@perlacher-strolche.de</a><br/>
                </address>
            </div>

            <div class="job-box bg-light-offset dark:bg-d-light-offset ">
                <div class="mb-10 border border-primary rounded-lg overflow-hidden hidden lg:block">
                    <object
                            data="/images/Personalsuche_2025.pdf"
                            type="application/pdf"
                            width="100%"
                            height="400px"
                    ></object>
                </div>
                <div class="text-center mb-10 lg:hidden">
                    <a
                            href="/images/Personalsuche_2025.pdf"
                            target="_blank"
                            class="download-button"
                    >
                        <span class="text-2xl mr-2.5">↓</span>
                        <span>Konzept herunterladen</span>
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>
