<section id="kontakt" class="section bg-light">
    <div class="container">
        <h2 class="section-title">KONTAKT</h2>

        <div>
            <div class="contact-row">
                <div class="address-info">
                    <h3>PERLACHER STROLCHE E.V.</h3>
                    <p>PFANZELTPLATZ 18<br />81737 MÜNCHEN ALTPERLACH</p>
                    <p>TELEFON 0157-85127519</p>

                    <div class="mt-8">
                        <p>Vorsitzende des Vorstands und v.i.S.d.P.:<br />Rebekka Filipovic</p>

                        <p>
                            <a href="mailto:koordination.vorstand@perlacher-strolche.de"
                                >koordination.vorstand@perlacher-strolche.de</a
                            ><br />
                            <a href="mailto:personal.vorstand@perlacher-strolche.de"
                                >personal.vorstand@perlacher-strolche.de</a
                            >
                        </p>

                        <p>
                            Kontakt für Aufnahmeverfahren:<br />
                            <a href="mailto:kontakt@perlacher-strolche.de">kontakt@perlacher-strolche.de</a>
                        </p>
                    </div>
                </div>

                <div class="facility-image">
                    <img src="/images/strolche_outside.jpg" alt="Perlacher Strolche Außenansicht" />
                </div>
            </div>
            <div class="contact-row">
                <div class="map-container">
                    <iframe
                        src="https://maps.google.com/maps?q=PERLACHER%20STROLCHE%20E.V.%2C%20Pflanzeltplatz%2018%2081735%20m%C3%BCnchen&t=m&z=17&output=embed&iwloc=near"
                        title="PERLACHER STROLCHE E.V., Pflanzeltplatz 18 81735 münchen"
                        aria-label="PERLACHER STROLCHE E.V., Pflanzeltplatz 18 81735 münchen"
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"
                    >
                    </iframe>
                </div>
                <div class="directions">
                    <p>
                        Unsere Strolche findet man am Pfanzeltplatz in Altperlach – ziemlich versteckt gegenüber der
                        Kirche St. Michael.
                    </p>
                    <p>Die Busse der Linien 55 und 139 halten fast vor unserer Tür (Haltestelle Pfanzeltplatz).</p>
                    <p>
                        Läuft man dann noch ein Stück den Hachinger Bach entlang, erreicht man das "Reich" der Strolche
                        hinter dem bunt lackierten Holzzaun.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
