<section id="konzept" class="section bg-light-offset dark:bg-d-light-offset">
    <div class="container">
        <h2 class="section-title">KONZEPT</h2>

        <div>
            <!-- PDF Viewer for Desktop -->
            <div class="mb-10 border border-primary rounded-lg overflow-hidden hidden lg:block">
                <object
                        data="/docs/20241217_Konzept_Perlacher-Strolche_Stand-2024.pdf"
                        type="application/pdf"
                        width="100%"
                        height="800px"
                ></object>
            </div>

            <!-- PDF Download Link for Mobile -->
            <div class="text-center mb-10 lg:hidden">
                <a
                        href="/docs/20241217_Konzept_Perlacher-Strolche_Stand-2024.pdf"
                        target="_blank"
                        class="download-button"
                >
                    <span class="text-2xl mr-2.5">↓</span>
                    <span>Konzept herunterladen</span>
                </a>
            </div>

            <div class="activities-section bg-light dark:bg-d-light">
                <h3>Feste und Aktivitäten</h3>
                <p>
                    Die Eltern-Kind-Initiative möchte ein „zweites Zuhause" für die Kinder sein. Daher werden
                    Geburtstage und verschiedene Feste, wie St. Martin, Fasching und Ostern, gemeinsam in der
                    Einrichtung gefeiert und somit das Wir-Gefühl gestärkt sowie Geborgenheit vermittelt. Ein beliebter
                    Höhepunkt im Herbst ist außerdem das Familienwochenende auf einem Bauernhof zum gegenseitigen
                    Kennenlernen und gemütlichen Beisammensein. Im Sommer lassen wir das Kitajahr stets mit einem
                    Sommerfest für beide Gruppen zusammen mit Eltern, Verwandten und dem Team ausklingen.
                </p>

                <div class="image-container">
                    <img src="/images/fa690ffb-8587-4326-8005-c7dff7a9ec3a.jpeg" alt="Aktivitäten bei den Perlacher Strolchen"/>
                </div>
            </div>

            <div class="activities-section bg-light dark:bg-d-light">
                <h3>Elternmitarbeit</h3>
                <p>
                    Die Einrichtung funktioniert als Eltern-Kind-Initiative, wobei die Mitarbeit der Eltern für den
                    Betrieb unerlässlich ist. Dazu zählen Tätigkeiten wie kleinere Reparaturen, Gartenarbeit,
                    Renovierungen sowie die Vorbereitung von Festen und Ausflügen. Aktive Beteiligung an Elternabenden
                    und Mitgliederversammlungen ist gefordert. Bei Eintritt in den Verein übernimmt jede Familie eine
                    Aufgabe, die von Elterndiensten bis zur Vorstandsarbeit reicht. Der Vorstand besteht aus vier
                    Eltern, die sich um Finanzen, Organisation, Buchhaltung und Personal kümmern und eng mit dem
                    pädagogischen Team sowie den Eltern zusammenarbeiten. Zudem muss jede Familie jährlich zweimal den
                    Wäschedienst übernehmen und an Putz- sowie Renovierungstagen teilnehmen.
                </p>

                <p>
                    Reinigung und Kochen werden von externen Firmen übernommen, im Bedarfsfall wird auch hier
                    Elternengagement erwartet.
                </p>
            </div>
        </div>
    </div>
</section>
