<section id="organisation" class="section organisation-section">
    <div class="container">
        <h2 class="section-title">ORGANISATION</h2>

        <div class="organisation-content">
            <h3>KOSTEN & VERPFLEGUNG</h3>

            <p>
                Unsere Eltern-Kind-Initiative Perlacher Strolche e.V. beteiligt sich am EKI-Plus-Fördermodell. Die
                Betreuungskosten entsprechen den städtischen Gebühren der Landeshauptstadt München. Die Kosten sind
                gestaffelt nach der täglichen Betreuungszeit des Kindes.
            </p>

            <p>
                Die Elternentgelttabelle in der EKI Plus Richtlinie wurde zum 01.09.2024 an die neue städtische
                Gebührensatzung, die am 24.07.2024 vom Stadtrat beschlossen wurde, angepasst. Die anzuwendende Tabelle
                richtet sich danach, ob das Kind einen Krippen- oder Kindergartenplatz belegt.
            </p>

            <div class="pricing-table-container">
                <table class="pricing-table">
                    <thead>
                        <tr>
                            <th>Durchschnittliche tägliche Buchungszeit</th>
                            <th>Krippe</th>
                            <th>Kindergarten*</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>bis 2 Std.</th>
                            <td>41 €</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>bis 3 Std.</th>
                            <td>67 €</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>bis 4 Std.</th>
                            <td>145 €</td>
                            <td>38 €</td>
                        </tr>
                        <tr>
                            <th>bis 5 Std.</th>
                            <td>162 €</td>
                            <td>48 €</td>
                        </tr>
                        <tr>
                            <th>bis 6 Std.</th>
                            <td>179 €</td>
                            <td>58 €</td>
                        </tr>
                        <tr>
                            <th>bis 7 Std.</th>
                            <td>196 €</td>
                            <td>69 €</td>
                        </tr>
                        <tr>
                            <th>bis 8 Std.</th>
                            <td>213 €</td>
                            <td>79 €</td>
                        </tr>
                        <tr>
                            <th>bis 9 Std.</th>
                            <td>230 €</td>
                            <td>90 €</td>
                        </tr>
                        <tr>
                            <th>über 9 Std.</th>
                            <td>250 €</td>
                            <td>100 €</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="additional-info">
                <h4>Krippenkinder</h4>
                <p>
                    Bei Bedarf können Vereins-Mitglieder, analog zu staatlichen Kinderkrippen, für Krippenkinder über
                    den Vorstand eine einkommensbezogene Entlastung und/oder eine Geschwisterermäßigung bei der Stadt
                    München beantragen.
                </p>

                <h4>Kindergartenkinder</h4>
                <p>
                    *Die tatsächliche monatliche Besuchsgebühr errechnet sich nach Abzug des staatlichen
                    Beitragszuschusses in Höhe von 100 Euro. Es ergibt sich somit eine Komplettbefreiung von der
                    Besuchsgebühr für alle Buchungsstufen.
                </p>

                <h4>Vereinsbeitrag</h4>
                <p>
                    Um kostendeckend zu arbeiten, erheben wir zusätzlich zu den Elternentgelten einen freiwilligen
                    Vereinsbeitrag in Höhe von 30 € im Monat - unabhängig von der Buchungszeit und dem Alter des Kindes.
                    Freiwillig bedeutet, dass die Einrichtung per Mitgliederversammlung über die Höhe der
                    Mitgliedsbeiträge entscheidet. Die aktiven Mitglieder sind dann an diesen Beschluss gebunden.
                </p>

                <h4>Kaution</h4>
                <p>
                    Nach Vertragsunterzeichnung wird eine Kaution in Höhe von 300 € fällig, die bei Austritt aus dem
                    Kindergarten zinslos zurückgezahlt wird.
                </p>

                <h4>Verpflegungsgeld</h4>
                <p>Für die Verpflegung der Kinder fallen monatlich 85 € an.</p>
                <p>
                    Alle Mahlzeiten werden von der Einrichtung gestellt. Frühstück (abwechselnd Müsli oder Brot) sowie
                    eine Brotzeit am Nachmittag werden von den Betreuer*innen liebevoll zubereitet. Das Mittagessen wird
                    täglich von einem hervorragendem, auf Kita-Kinder spezialisierten Caterer (<a
                        href="https://kinderkueche.com/"
                        >KinderKüche Catering GmbH</a
                    >) frisch und abwechslungsreich angeliefert. Darüber hinaus bringt jedes Kind saisonales Obst oder
                    Gemüse für den gemeinsamen Rohkostkorb mit, der dann zu Frühstück- und Brotzeiten gemeinsam
                    geplündert wird.
                </p>
            </div>
        </div>

        <div class="organisation-content">
            <h3>ÖFFNUNGSZEITEN</h3>
            <p>
                Der Kindergarten ist Montag bis Freitag von 7.00 Uhr bis 17.00 Uhr geöffnet. Die Bringzeit ist jeden
                Morgen von 7.15 Uhr bis 8.45 Uhr. Die Abholzeit kann variabel (entsprechend der Buchungszeit) gehandhabt
                werden, muss aber bis spätestens 16.45 Uhr erfolgen.
            </p>

            <p>
                Die jährlichen Schließtage des Kindergartens (ca. 30) werden in Absprache mit dem Team und den Eltern
                vom Vorstand festgelegt. Sie betragen maximal drei Wochen am Stück und orientieren sich an den
                bayerischen Schulferien.
            </p>
        </div>

        <div class="organisation-content">
            <h3>TRÄGER & FINANZIERUNG</h3>

            <p>
                Der Perlacher Strolche e.V. ist ein gemeinnütziger Verein mit einer Satzung und einer Geschäftsordnung,
                welcher 2002 gegründet wurde.
            </p>
            <p>
                In der Satzung sind die Grundlagen des Vereins, z.B. Zweck, Mitgliedschaft, Aufgaben des Vorstands,
                Mitgliederversammlung usw., festgelegt. Die Geschäftsordnung enthält weitergehende Regelungen zum
                Kindergartenbetrieb aufgrund von Beschlüssen der Mitglieder- bzw. Elternversammlungen. Beide Dokumente
                erhalten Eltern bei ihrem Neueintritt. Pro Familie muss ein Elternteil als stimmberechtigtes Mitglied
                dem Verein beitreten.
            </p>
            <p>
                Der Perlacher Strolche e.V. ist Mitglied im Kleinkinder- und Tagesstättenverein (KKT,
                <a href="http://www.kkt-muenchen.de">www.kkt-muenchen.de</a><a href="http://www.kkt-muenchen.de/">)</a>,
                einer Dachorganisation für Münchener Elterninitiativen. Die Einrichtung wird nach BayKiBiG von der Stadt
                München und dem Freistaat Bayern sowie im Rahmen der Familienselbsthilfe als EKI von der Stadt München
                gefördert.
            </p>

            <div class="additional-info">
                <h4>Spenden</h4>
                <p>
                    Die Perlacher Strolche freuen sich riesig über zweckgebundene Geldspenden für Anschaffungen oder
                    konkrete Projekte unserer Einrichtung. Für Zuwendungen bedanken wir uns mit einer abzugsfähigen
                    Spendenquittung, die wir auch für Sachspenden (Neuware) ausstellen dürfen.
                </p>
            </div>
        </div>
    </div>
</section>
